<div class = "container">
  <div class = "row my-3">
      <h2>完全退会確認</h2>
  </div>

  <div class = "row">

    <%= render "pairs/sidebar", pair: @pair %> <!--サイドバー col-3使用-->

    <div class="col-9">
      <p>本当に完全退会しますか？</p>
      <ul>
        <% unless current_user.partner == nil %>
          <li><%= current_user.partner.name %>さんも同時に退会します。同意を得てください。</li>
        <% end %>
        <li>ペア情報・投稿含めすべて削除します。</li>
      </ul>

      <%= link_to "完全退会する", pair_path, method: :delete, class:"btn btn-danger" %></p>


      <p>自分だけが退会する場合は<%= link_to "こちら", u_confirm_path %></p>
    </div>
  </div>
</div>
