<div class = "container">
  <div class = "row my-3">
    <div class="col-lg-3 page-top p-0">
      <h2>ケンカ編集！</h2>
    </div>
  </div>

  <div class = "row">
    <div class="col-lg-9 order-lg-2 main-content">
      <%= render "layouts/error_message", obj: @pair %>
      <%= render "form", discuss_record: @discuss_record, my_opinion: @my_opinion, title: @title %>
    </div>

    <%= render "pairs/sidebar", pair: @pair %> <!--サイドバー col-3使用-->

  </div>
</div>


