<div class = "container">
  <div class = "row my-3">
      <h2>ケンカ投稿一覧</h2>
  </div>

  <div class = "row">

    <%= render "/pairs/sidebar", pair: @pair %> <!--サイドバー col-3使用-->

    <div class="col-9">
      <%= render "discuss_records/index", records: @discuss_records %>
    </div>
  </div>
  <%#= paginate @items_page %>
</div>




