<div class = "container">
  <div class = "row my-3">
    <div class="col-lg-3 page-top p-0">
      <h2>個人退会確認</h2>
    </div>
  </div>

  <div class = "row">
    <div class="col-lg-9 order-lg-2 main-content">
      <div class="row">
        <div class="col-10 col-offset-2 mx-auto">

          <p class="lead">本当に退会しますか？</p>
          <ul>
            <li><%= current_user.name %>さんだけが退会します。</li>
            <li>パートナーのアカウント・ペア情報・過去の投稿は存続します。</li>
            <li>パートナーが利用を続ける限り、このペアに復帰することができます。</li>
          </ul>

          <%= link_to "退会する", disabling_path, method: :patch, class:"btn btn-danger" %>←めんどいので一旦あと回しで・・・</p>

          <p>ペア情報ごと完全退会する場合は<%= link_to "こちら", p_confirm_path %></p>
        </div>
      </div>
    </div>

    <%= render "pairs/sidebar", pair: @pair %> <!--サイドバー col-3使用-->

 </div>
</div>
