<h1>退会確認</h1>
<p>本当に退会しますか？</p>
<ul>
  <li><%= current_user.name %>さんだけが退会します。</li>
  <li>ペアに関する過去の投稿などは存続します。</li>
  <li>パートナーのアカウント・ペア情報は存続します。</li>
  <li>パートナーが利用を続ける限り、このペアに復帰することができます。</li>
</ul>

<%= link_to "退会する", disabling_path, method: :patch, class:"btn btn-danger" %>←めんどいので一旦あと回しで・・・</p>


<p>ペア情報ごと完全退会する場合は<%= link_to "こちら", p_confirm_path %></p>
