<div class = "container">
  <div class = "row my-3">
    <div class="col-3 page-top p-0">
      <h2>aboutページ</h2>
    </div>
  </div>

  <div class = "row">

    <div class="col-8 col-offset-4 mx-auto">

    </div>
  </div>
</div>
