<div class = "container">

  <div class="main-content">

    <div class="row align-items-center text-center my-5">
      <div class="col-12 mx-auto">
        <h1 class="my-3 font-weight-bold text-center" id="slogan">いいケンカをしよう</h1>
        <h3 class="my-2 font-weight-bold">ナカナオリは”ケンカ”を通してパートナーと</h3>
        <h3 class="mb-4 font-weight-bold">よりよい関係を築くお手伝いをします。</h3>

        <p class="sentence text-center">
          永遠の愛を誓った夫婦でも、近年の日本の離婚率は35%前後と言われています。<br>
          何年もずっと仲良しでいることは、実はとってもむずかしいことですよね。<br>
          ナカナオリは、<b>ケンカの質</b>にフォーカスしました。<br>
          長く寄り添うふたりにとって、ケンカは避けては通れないもの。<br>
          雨降って地固まる、いいケンカをしていきましょう！
        </p>
      </div>
    </div>

    <div class = "row align-items-center mb-5">
      <div class="col-md-8">
        <div class="lead-text">
          <p class="lead my-1 text-center mx-auto">なんとなくでケンカを終わらせてモヤモヤしていませんか？</p>
          <p class="lead text-center lead-text__resolve">⇨納得してナカナオリしよう！</p>
        </div>
        <ol>
          <li>ケンカを投稿。冷静になってケンカの内容を書き出しましょう。<br>
          また、お互いの主張を文字に起こし、パートナーに伝えましょう</li>
          <li>主張を確認しあったら、自分なりの反省・まとめを追記してみましょう</li>
          <li>お互いが反省・まとめを書いたらナカナオリボタンがあらわれます。<br>
          いざ手を取り合って、ナカナオリ！</li>
        </ol>
        <p>※ペアリングせずにおひとりでもご利用いただけます。</p>
      </div>
      <div class="col-md-4 mx-auto">
        <%= image_tag "moya.png" %>
      </div>

    </div>

    <div class = "row align-items-center mb-5">
      <div class="col-md-8 order-md-2 mx-auto">
        <div class="lead-text">
          <p class="lead my-1 text-center">過去の反省を忘れて同じようなケンカを繰り返していませんか？</p>
          <p class="lead text-center lead-text__resolve">⇨あの時のナカナオリを思い出そう！</p>
        </div>
        <ul>
          <li>ナカナオリしておわり、ではもったいない！過去の記録にヒントがあるかも！？</li>
          <li>それぞれの投稿にはタグ付けも可能。何に関するケンカだったか一目で分かります。</li>
          <li>不穏な空気にピンときたら、あの日のナカナオリをのぞいてみましょう！</li>
        </ul>
      </div>

      <div class="col-md-4 order-md-1 mx-auto">
        <%= image_tag "kenka.png" %>
      </div>
    </div>

    <div class = "row align-items-center mb-5">
      <div class="col-md-8">
        <div class="lead-text">
          <p class="lead my-1 text-center mx-auto">自分たちは、どんな時期にどんなことでケンカしてるんだろう？</p>
          <p class="lead text-center lead-text__resolve">⇨今までの傾向をグラフで見てみよう！</p>
        </div>
        <ul>
          <li>使えば使うほど、ナカナオリの記録はどんどん貯まっていきます。</li>
          <li>ケンカが多いのはどんな時期か、どんなテーマのケンカが多いか、一目で分かります。</li>
          <li>他の人たちのケンカテーマの傾向が分かります(comming soon)</li>
        </ul>
      </div>
      <div class="col-md-4 mx-auto">
        <%= image_tag "bunseki.png" %>
      </div>
    </div>

  </div>
</div>
