body{
  background-color:#f7ede2;
  font-family: "Segoe UI", "メイリオ", "sans-serif";
}

.navbar{
  background-color:#f6bd60;
}

.sidebar{
  border: solid;
  border-radius: 8px;
}

.footer{
  height: 75px;
  background-color:#f6bd60;
}

.form{
  border: solid;
  border-radius: 8px;
  &__top{
    border-radius: 8px 8px 0px 0px;
  }
}

.page-top{
  h2{
    padding-bottom: 3px;
    border-bottom: 8px solid #F28482;
  }
}

.main-content{
  .subtitle{
    padding-bottom: 3px;
    border-bottom: 4px solid #F28482;
    img {
      width: 80px;
      height: 60px;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    width /***/:auto;
  }

  .element {
    /* aboutの各ブロック */
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: opacity 1s, visibility 1s, transform 1s;
  }
  /* フェードイン時に入るクラス */
  .is-fadein {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}

.show-body{
  &__my-opinion{
    border-bottom: 4px solid #f6bd60;
    max-width: 80%;
  }
  &__p-opinion{
    border-bottom: 4px solid #84A59D;
    max-width: 80%;
  }
  &__title{
    border-bottom: 4px solid #F28482;
    max-width: 80%;
  }
}

.lead-text{
  &__resolve{
    color: #F28482
  }
}

.tag{
  font-size: 12px;
	display: inline-block;
	padding: .6em;
	line-height: 1;
	color: #fff;
	text-decoration: none;
	background-color: #84A59D;
	border-radius: 2em 0 0 2em;
	&:before{
  	content: '●';
  	margin-right: .5em;
  	color: #fff;
	}
	&__not-atacched{
    font-size: 12px;
  	display: inline-block;
  	padding: .6em;
  	line-height: 1;
  	color: #84A59D;
  	text-decoration: none;
  	background-color: #fff;
  	border-radius: 2em 0 0 2em;
  	border: solid;
  	&:before{
    	content: '●';
    	margin-right: .5em;
    	color: #84A59D;
  	}
	}
}

#slogan{
  border-bottom: 4px solid #F28482;
  max-width: 400px;
  margin: auto;
}

